* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

main {
  z-index: 10;
  width: 100vw;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  font-family: sans-serif;
  color: #00ABFF;
}

/* LOGIN SPECIFIC STYLES */
#login {
  font-family: sans-serif;
  background-color: #f9f9f9;
  width: 30vw;
  margin: 30vh auto;
  padding-bottom: 1em;
  box-shadow: 0px 2px 10px rgba(40,0,0, 0.4);
}

#login button{
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
}

#login #sign {
  height: 5vh;
  width: 50%;
  background-color: #00ABFF;
  float: left;
  color: white;
  margin-bottom: 2em;
}

#login #log {
  height: 5vh;
  float: left;
  width: 50%;
  background-color: white;
  color: #00ABFF;
  margin-bottom: 2em;
}

#login form {
  width: 80%;
  margin:auto;
}

#login form input{
  border: thin #00abff solid;
  height: 2em;
  margin-bottom: 1em;
}

#login form button {
  background-color: #00abff;
  color: white;
  height: 2em;
  margin:auto;
  width: 50%;
  border-radius: .5em;
}

#logForm {
  display: grid;
  grid-template-rows: 1fr;
}

#signForm {
  display: none;
  grid-template-rows: 1fr;
}


/*Index Styling */
body {
  background-attachment: fixed;
  background-position: bottom;
  background-image: url('pmth.PNG');
}

/* MAP STYLING */

#mapholder {
  position: absolute;
  height: 120vh;
  width: 120vw;
  z-index: 0;
 }

/*GOOGLE INFO WINDOW*/
 .gm-style .gm-style-iw {
}

.gm-style .gm-style-iw p{
   color: #00abff;
}

.gm-style .gm-style-iw button{
   border:none;
   background-color:rgba(0,0,0,0);
   color:#00abff;
   outline: none;
   cursor:pointer;
}
