* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  letter-spacing: .5em;
}

body {
  background-image: url('assets/bg.jpg');
  background-size: cover;
}

header {
  background-color: rgba(51,152,204,1);
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  box-shadow: 0px 2px 20px rgba(40,0,0, 0.4);
}


#login  {
  margin: 10vh auto;
  max-width: 40vw;
  text-align: center;
}

#login h2 {
  margin: 0;
  font-weight: lighter;
  padding: 1em;
  background-color: rgba(51,152,204,1);
}

#login form{

}
