html {

}

body {
  background-image: url("background.png");
  margin:0;
}

main {
  z-index: 10;
  width:100vw;
  height: 300vh;
  position: fixed;
  top: 0vh;
  font-family: sans-serif;
  transition: top 1s;
}

h2 {
  margin: 5vh auto;
  color: #FF9600;
  letter-spacing: .5em;
}



nav {
  border-top: solid #FF9600 medium;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0px 2px 10px rgba(40,0,0, 0.4);
}

#status {
  width:100vw;
  color: black;
  background-color:#FF9600;
  font-size: 1.5em;
  font-family: sans-serif;
  position: fixed;
  text-align: center;
  z-index: 100;
  top: -10vh;
  opacity: 0;
  transition: 1s;
  padding: 1em;
}

nav i{
  color: white;
  text-align: center;
  border-right: gray thin solid;
  cursor: pointer;
}

nav i:hover {
  color: #FF9600;
}

.page {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/*TextBox Style */
.textbox {
    height: 25px;
    width: 275px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    outline:0;
  }

/*button style*/
  .button {
  	border-radius: 4px;
    background-color:orange;
    border: none;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
}

/*link style*/
  a {
      color: orange;
  }

  a:hover{
    cursor: pointer;
  }

  h {
  font-size: 20px;
  color : white;
  }
  h1 {
    font-size: 19px;
  }

  p{
  	color: black;
  }

  a:active {
    color:grey;
  }

  #login p {
    color: white;
  }

  /* LOGIN SPECIFIC STYLES */
#logIn {
  background: rgba(0,0,0,0.7);/*grid colour & opacity*/
  width: 400px;
  padding: 25px;
  grid-area: a;
  align-self: center;
  justify-self: center;
	margin: 10vh auto 0 auto;
	text-align: center;
}


#accountForm {
  background: rgba(0,0,0,0.7);/*grid colour & opacity*/
  width: 410px;
  padding: 25px;
  grid-area: a;
  align-self: center;
  justify-self: center;
  display: none;
  margin: 10vh auto 0 auto;
}

#admin {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#addFact {
  height: 93vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

#listFacts {
  background-color: white;
  padding-top: 3vh;
  height: 92vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  overflow-y: scroll;
}

.deleteFact{
  width: 100%;
  color: #FF9600;
  text-align: center;
  cursor:pointer;
}

.deleteFact:hover {
  color:gray;
}

.fact {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: solid #FF9600 thin;
  border-right: solid #FF9600 thin;
  min-height: 2em;
  max-height: 4em;
}

.fact p {
  color: #FF9600;
  font-size: 1em;
}


/*MATERIAL ICON SIZING*/
.material-icons.md-48 { font-size: 48px; }

/*GOOGLE INFO WINDOW*/
.gm-style .gm-style-iw {
  /*padding:0;
  margin:0;
  height: auto;
  max-height: none;
  width: 30vw;*/

  width: 100vw;
  height: 100vh;
}

.gm-style .gm-style-iw img{
  width: 25vw;
  padding: 0;
  margin: 0;
}

.gm-style .gm-style-iw p{
  color: #FF9600;
  max-width: 30vw;
}


.gm-style .gm-style-iw button{
   border:solid black thin;
   background-color:rgba(0,0,0,0);
   color:white;
   outline: none;
   cursor:pointer;
   float: left;
   width: 50%;
   background-color: #FF9600;
}



/* MEDIA QUERIES FOR SMALLER DISPLAYS */

@media (max-width: 1400px) {
  #listFacts {
    grid-template-columns: 1fr 1fr;
  }

  .fact {
    height: 3em;
  }
}

@media (max-width: 1000px) {
  #listFacts {
    grid-template-columns: 1fr;
  }

  .fact {
    height: 4em;
  }
}
