body{
	background-image: url("background.png");
}

/*grid properties*/
.item1 {
  background: rgba(0,0,0,0.7);/*grid colour & opacity*/
  height: 210px;
  width: 400px;
  padding: 25px;
  margin: 25px;
  grid-area: a;
  align-self: center;
  justify-self: center;
}

/*button style*/
.button {
    background-color: #FFA500; /* orange */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {border-radius: 100%;}
.button1 {width: 100px;}

button:active{
    background:grey;
}

/*link style*/
a {
    color: orange;
}

a:active {
  color:grey;
}

a:hover{
  cursor: pointer;
}

h {
  font-size: 20px;
}

h1 {
  font-size: 19px;
}

/*textbox style*/
.textbox {
    height: 25px;
    width: 275px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    outline:0;
  }

  #myDIV {
    background: rgba(0,0,0,0.7);/*grid colour & opacity*/
    height: 280px;
    width: 410px;
    padding: 25px;
    margin: 25px;
    grid-area: a;
    align-self: center;
    justify-self: center;
    display: none;
  }

	#myDIV2 {
		background: rgba(0,0,0,0.7);/*grid colour & opacity*/
		height: 280px;
		width: 410px;
		padding: 25px;
		margin: 25px;
		grid-area: a;
		align-self: center;
		justify-self: center;
		display: none;
	}


	#addFact {
		background: rgba(0,0,0,0.7);/*grid colour & opacity*/
		height: 325px;
		width: 410px;
		padding: 25px;
		margin: 25px;
		grid-area: a;
		align-self: center;
		justify-self: center;
		display: none;
	}


.navbar {
	background: rgba(0,0,0,0.7);/*grid colour & opacity*/
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: olive;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
