body{
	background-image: url("background.png");
}

/*grid properties*/
.item1 {
  background: rgba(0,0,0,0.7);/*grid colour & opacity*/
  height: 210px;
  width: 400px;
  padding: 25px;
  margin: 25px;
  grid-area: a;
  align-self: center;
  justify-self: center;
}

/*button style*/
.button {
    background-color: #FFA500; /* orange */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {border-radius: 100%;}
.button1 {width: 100px;}

button:active{
    background:grey;
}

/*link style*/
a {
    color: orange;
}

a:active {
  color:grey;
}

a:hover{
  cursor: pointer;
}

h {
  font-size: 20px;
}

h1 {
  font-size: 19px;
}

/*textbox style*/
.textbox {
    height: 25px;
    width: 275px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    outline:0;
  }

  #myDIV {
    background: rgba(0,0,0,0.7);/*grid colour & opacity*/
    height: 280px;
    width: 410px;
    padding: 25px;
    margin: 25px;
    grid-area: a;
    align-self: center;
    justify-self: center;
    display: none;
  }

/*stick navigation bar at bottom of page*/
.bottombar{
	background-color: #444;
	 overflow: hidden;
	 position: fixed;
	 bottom: 0;
	 width: 100%;
}

/*styling of links inside navigation bar*/
.bottombar a{
	float:left;
	display:block;
	color: #f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:17px;
}

/*Change the colour of links on hover*/
.bottombar a:hover{
	background-color:#ff7c26;
	color:black;
}

.bottombar a.active{
	background-color:#ff7c26;
	colour:white;
}

/*hide link that should open and close the bottombar on small screens*/
.bottombar .icon{
	display:none;
}

/*When the screen is less than 600 pixels wide, hide all links except
the first one "Home". Show the link that contains open and close the bottombar (.icon) */
@media screen and (max-width:600px){
	.bottombar a:not(:first-child){display:none;}
	.bottombar a.icon{
		float:right;
		display:block;
	}
}
/*the responsive class is added to the bottombar with Javascript when the user clicks on the icon.
This class make the bottombar look good on small screens (display the links vertically instead of horizontally)*/
@media screen and (max-width: 600px) {
  .bottombar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

	.bottombar.responsive a{
		float: none;
		display: block;
		text-align:left;
	}
}
